@import "tailwindcss";

header {
  animation: opacityInc 0.8s;
}

.header-promo {
  letter-spacing: -0.11em;
  @apply flex font-bold text-[clamp(2rem,14dvw,20rem)] ease-[cubic-bezier(.8,0,.55,1)] translate-y-[clamp(1.875rem,3dvw,5rem)] opacity-0 duration-600;
}

/* .fade-in {
  transition: cubic-bezier(0.8, 0, 0.55, 1);
  @apply translate-y-[clamp(0px,60px,1000px)] opacity-0 duration-600;
} */

.location {
  animation: opacityInc 1s;

  @apply text-[clamp(.75rem,1.4dvw,1rem)] flex justify-center items-center before:content-["["] before:mr-[2dvw] after:content-["]"] after:ml-[2dvw] opacity-100;
}

.location::before,
.location::after {
  animation: beforeAfterAnim 1s;
}

@keyframes opacityInc {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes beforeAfterAnim {
  0% {
    margin: 0;
  }

  100% {
    margin: 0 2dvw;
  }
}

.show {
  @apply translate-0 opacity-100;
}
