header {
  display: grid;
  grid-template-areas: "logo nav cart";
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 20px 0;
}

.logo-container {
  grid-area: logo;
  width: 100px;
  height: auto;
}

.logo {
  width: 100%;
}

nav {
  grid-area: nav;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 0.5dvw;
}

.header-link {
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 70%;
  transition: 0.3s all ease;
}

.header-link.nav-link {
  padding: 4px;
}

.header-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid black;
  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
}

.header-link-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  transition: 0.3s ease;
  z-index: -1;
}

.header-link-container:hover::before {
  left: 0;
  top: 0;
  /* transition: all .3s ease; */
}

.header-link-container:hover .header-link {
  color: white;
  /* font-weight: 500; */
}

.header-link-container:hover .cart-svg {
  fill: white;
}

.cart-container {
  grid-area: cart;
  display: flex;
  justify-content: end;
  align-items: start;
}

.cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 4px 5px;
}

.cart-svg {
  width: 13.5px;
  height: 13.5px;
  fill: black;
  transition: 0.3s all ease;
}
