@import "tailwindcss";

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
  letter-spacing: -0.08em;
}

a {
  text-decoration: none;
  color: black;
}

.link-text {
  @apply text-xs lg:text-base uppercase leading-[70%] transition-all duration-300 ease-linear group-hover:text-white;
}

.link-container {
  @apply flex items-center justify-center rounded-[100px] border border-black transition-all duration-300 ease-linear relative overflow-hidden;
}

.link-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  transition: 0.3s ease;
  z-index: -1;
}

.link-container:hover::before {
  top: 0;
}

.loader {
  animation: loader cubic-bezier(0.7, 0, 0.3, 1) 2.5 s infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* 
.fade-in {
  @apply translate-y-[clamp(1.25rem,1.5dvw,2.5rem)];
}

.show {
  @apply translate-0 opacity-100;
} */
