@reference "tailwindcss";

.hf-link-text {
    @apply uppercase leading-[70%] transition-all duration-300 ease-linear group-hover:text-white;
}

.hf-link-container {
    @apply flex items-center justify-center rounded-full border border-black transition-all duration-150 ease-linear relative overflow-hidden z-0
    before:content-[""] before:absolute before:left-0 before:top-full before:bg-black before:w-full before:h-full before:rounded-full before:transition-all
    before:duration-200 before:ease-in before:-z-10 hover:before:top-0;
}